<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
    </head>

    <body>
        <div class="wrap-fluid">
            <header class="header-manu">
                <nav>
                    <h1><i class="far fa-gem"></i>CSS&HTML BLOG</h1>
                    <ul class="topmanu">
                        <a href="#">
                            <li>blog</li>
                        </a>
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </header>
            <section>
                123456
            </section>
            <footer>
                <div class="footer-left">
                    © Copright 2018 Ray部落格
                </div>
                <div class="footer-right">
                    <a href="#" class="text-heschool"><i class="fab fa-facebook-messenger"></i></a>
                    <a href="#" class="text-heschool"><i class="fab fa-google"></i></a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </body>

</html>